@import url("/CSS/colors.css");

:root {
	--BlurShrinkAnimDuration: 2;
	--NamePanelAnimDuration: 0.8;
	--SpanCharactersAnimDuration: 1;

	--CalulatedInitialDelay: calc((var(--BlurShrinkAnimDuration) + var(--NamePanelAnimDuration)) - 2)
}

.namePanel {
	overflow: hidden;
	display: flex;
	justify-content: center;
	animation: NamePanelSlideOpenANIM calc(var(--NamePanelAnimDuration)* 1s) cubic-bezier(.77,.12,.16,.95);
	animation-delay: calc(var(--BlurShrinkAnimDuration) * 1s);
	animation-fill-mode: both;
}

.namepanelscontainer {
	width: 100vw;
    height: 100vh;
    display: -webkit-flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
	overflow: hidden;
}

.top {
	top: 25vh;
	background-color: var(--Gray0_5);
	color: var(--Gray3);
}

.bottom {
	top:50vh;
	background-color: var(--Gray3);
	color: var(--Gray0_5);
}


.spanparent {
	text-align: center;
	white-space: nowrap;
    align-items: center;
	display: flex;
}


.topspan span {
	transform: translateY(200px);
	display: inline-block;
	animation: spanCharactersANIMtop calc(var(--NamePanelAnimDuration)* 1s) cubic-bezier(.77,.12,.16,.95) forwards;
	animation-delay: calc(var(--BlurShrinkAnimDuration) * 1s);
}

.bottomspan span {
	transform: translateY(-200px);
	display: inline-block;
	animation: spanCharactersANIMbottom calc(var(--NamePanelAnimDuration)* 1s) cubic-bezier(.77,.12,.16,.95) forwards;
	animation-delay: calc(var(--BlurShrinkAnimDuration) * 1s);
}

@keyframes spanCharactersANIMtop {
    from {
		transform: translateY(200px);
		letter-spacing: 20px;
        opacity: 0;
		text-shadow: 0px 0px 0px var(--FlashColor);
		font-weight: 100;
    }
    to {
		transform: translateY(0px);
		letter-spacing: 0px;
        opacity: 1;
		text-shadow: 10px 10px 1px var(--FlashColor);
		font-weight: 900;
    }
}

@keyframes spanCharactersANIMbottom {
    from {
		transform: translateY(-200px);
		letter-spacing: 20px;
        opacity: 0;
		text-shadow: 0px 0px 0px var(--FlashColor);
		font-weight: 100;
    }
    to {
		transform: translateY(0px);
		letter-spacing: 0px;
        opacity: 1;
		text-shadow: 10px 10px 1px var(--FlashColor);
		font-weight: 900;
    }
}

.spanparent span:nth-child(1) { animation-duration: calc((var(--CalulatedInitialDelay) + ((var(--SpanCharactersAnimDuration) * 0.1)))  * 1s); }
.spanparent span:nth-child(2) { animation-duration: calc((var(--CalulatedInitialDelay) + ((var(--SpanCharactersAnimDuration) * 0.2)))  * 1s); }
.spanparent span:nth-child(3) { animation-duration: calc((var(--CalulatedInitialDelay) + ((var(--SpanCharactersAnimDuration) * 0.3)))  * 1s); }
.spanparent span:nth-child(4) { animation-duration: calc((var(--CalulatedInitialDelay) + ((var(--SpanCharactersAnimDuration) * 0.4)))  * 1s); }
.spanparent span:nth-child(5) { animation-duration: calc((var(--CalulatedInitialDelay) + ((var(--SpanCharactersAnimDuration) * 0.5)))  * 1s); }
.spanparent span:nth-child(6) { animation-duration: calc((var(--CalulatedInitialDelay) + ((var(--SpanCharactersAnimDuration) * 0.6)))  * 1s); }
.spanparent span:nth-child(7) { animation-duration: calc((var(--CalulatedInitialDelay) + ((var(--SpanCharactersAnimDuration) * 0.7)))  * 1s); }
.spanparent span:nth-child(8) { animation-duration: calc((var(--CalulatedInitialDelay) + ((var(--SpanCharactersAnimDuration) * 0.8)))  * 1s); }
.spanparent span:nth-child(9) { animation-duration: calc((var(--CalulatedInitialDelay) + ((var(--SpanCharactersAnimDuration) * 0.9)))  * 1s); }
.spanparent span:nth-child(10) { animation-duration: calc((var(--CalulatedInitialDelay) + ((var(--SpanCharactersAnimDuration) * 1)))   * 1s); }

.fullscreenblur {
	position: absolute;
	animation: FullScreenBlurShrinkANIM calc(var(--BlurShrinkAnimDuration) * 1s) cubic-bezier(.77,.12,.16,.95);
}


@keyframes FullScreenBlurShrinkANIM {
    0% 	{
			background-color: var(--Primary);
			width: 100vw; 
			height: 100vh; 
			top: 0vh; left:0vw; 
			box-shadow: 0px 0px 0px 0px var(--Secondary); 
		}

		/***** Shrink and edge blurring *****/
	15%{
			background-color: var(--Primary);
			box-shadow: 0px 0px 10px 10px var(--Secondary);
		}

	25% {
			box-shadow: 0px 0px 10px 5px var(--Secondary);
		}

	30%	{
			box-shadow: 0px 0px 5px 0px var(--Secondary);
		}

	35% {
			background-color: var(--Secondary);
			box-shadow: 0px 0px 0px 0px var(--Secondary); 
		}

		/***** Thinning and translate up *****/
    50%	{ 
			width: 50vw; 
			height: 2vh; 
			top: 55vh; 
			left:25vw; 
		}

	100%{
			background-color: var(--Secondary);
			width: 55vw; 
			height: 0.2vh; 
			top: 40vh; 
			left:22.5vw; 
		}
}

@keyframes NamePanelSlideOpenANIM {
	0%	{
			transform: translateY(-10vh);
			width: 55vw;
			height: 0vh;
			font-weight: 100;
			font-size: 100px;
			line-height: 0;
			box-shadow: var(--Border1) 0px 0px 0px 2px inset;
		}

	100%{
			transform: translateY(0vh);
			width: 55vw;
			height: 35vh;
			font-weight: 1200;
			font-size: 200px;
			line-height: 1.4;
			box-shadow: var(--Border1) 0px 0px 0px 2px inset;
		}
}

.about-container
{
	width: 55vw;
    height: 50vh;
	margin-bottom: 15vh;
    display: -webkit-flex; 
    flex-direction: column;
    justify-content: left;
    align-items: start;
	overflow: hidden;

	background-color: var(--Gray0_5);
	color: var(--Gray3);
}

.about-container h1
{
	font-size: 3em;

}

.about-container p1
{
	font-size: 2em;
	line-height: 1;
}