:root
{
	--NeonOrange: #ff6d1f;
	--Orange: #fc7449;
	--Gray: #242424;
	--Beige: #ffffff;
	--LightBeige: #ffffff;
	--FlashColor: #caff45;

	--MudBrown: #896c67;
	--PaleOrange: #ec8e75;
	--ScotchBiege: #eac9aa;
	--BananaYellow: #f6dda7;
	--HamamamGreen: #82a18f;



	
	--BaseLight1: #e6e0dc;
	--Biege1: #c1ad9b;
	--Biege2: #c6beb4;
	--Gray1: #bebab6;
	--Gray2: #b8b8b8;
	--Black: #000000;
	--White: #ffffff;
}