@import url("colors.css");

.namePanel
{
	width: 100%;
	/*display: inline;*/
	font-weight: bold;
	font-size: 200px;
	line-height: 1.4;
	/*align-self: start;*/
	text-shadow: 10px 10px 1px var(--FlashColor);
	/*padding-bottom: 60px;
	margin-top: 30px;*/
	box-shadow: var(--Border1) 0px 0px 0px 2px inset ;
	text-align: center;

	

}

.top
{
	background-color: var(--Gray0_5);
	color: var(--Gray3);
}

.bottom
{
	background-color: var(--Gray3);
	color: var(--Gray0_5);
}

.parallax
{
	--scroll: 0;
}

.topspace{
	margin-top: 10%;
}