@import url("colors.css");

.namePanel
{
	text-align: center;

	animation: loadAnim2 0.8s cubic-bezier(.77,.12,.16,.95);
	animation-delay: 2s;
	animation-fill-mode: both;
}

.container
{
	width: 100vw;
    height: 100vh;
    display: -webkit-flex; /* Optional: Helps with centering */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top
{
	top: 25vh;
	background-color: var(--Gray0_5);
	color: var(--Gray3);
}

.bottom
{
	top:50vh;
	background-color: var(--Gray3);
	color: var(--Gray0_5);
}

.loadWebsite{
	background-color: var(--Secondary);
	position: absolute;
	animation: loadAnim 2.3s cubic-bezier(.77,.12,.16,.95);
}

@keyframes loadAnim 
{
    0% 	{
			width: 100vw; 
			height: 100vh; 
			top: 0vh; left:0vw; 
			box-shadow: 0px 0px 0px 20px var(--Secondary); 
		}

	25% {
			box-shadow: 0px 0px 15px 20px var(--Secondary);
		}

	40% {
			box-shadow: 0px 0px 5px 0px var(--Secondary); 
		}

    59%	{ 
			width: 50vw; 
			height: 2vh; 
			top: 55vh; 
			left:25vw; 
		}

	80%{
			width: 65vw; 
			height: 0.5vh; 
			top: 50vh; 
			left:17.5vw; 
		}

	100%{
			width: 65vw; 
			height: 0vh; 
			top: 50vh; 
			left:17.5vw; 
		}
}

@keyframes loadAnim2
{  
	

	0%	{
			width: 65vw;
			height: 0vh;
			/*display: inline-block;*/
			font-weight: bold;
			font-size: 0px;
			line-height: 0;
			/*align-self: start;*/
			text-shadow: 10px 10px 1px var(--FlashColor);
			/*padding-bottom: 60px;
			margin-top: 30px;*/
			box-shadow: var(--Border1) 0px 0px 0px 2px inset;
		}

	70%{
			width: 65vw;
			height: 35vh;
			/*display: inline-block;*/
			font-weight: bold;
			font-size: 200px;
			line-height: 1.4;
			/*align-self: start;*/
			text-shadow: 10px 10px 1px var(--FlashColor);
			/*padding-bottom: 60px;
			margin-top: 30px;*/
			box-shadow: var(--Border1) 0px 0px 0px 2px inset;
		}

	100%{
			width: 65vw;
			height: 35vh;
			/*display: inline-block;*/
			font-weight: bold;
			font-size: 200px;
			line-height: 1.4;
			/*align-self: start;*/
			text-shadow: 10px 10px 1px var(--FlashColor);
			/*padding-bottom: 60px;
			margin-top: 30px;*/
			box-shadow: var(--Border1) 0px 0px 0px 2px inset;
		}
}