@import url("colors.css");



*
{
	box-sizing: border-box;
	font-family: 'Optima';
}

:root
{

	--Primary: var(--White);
	--Secondary: var(--Black);
	--Secondary2:  var(--White);

	--Accent:	var(--Black);

	--Border1: var(--Black);

	--Text1: var(--Black);
	--TextInverted: var(--White);
}

.TopBar
{
	overflow:hidden;
	background-color: var(--Primary);
	font-family: 'Helvetica Neue';
	border-bottom: 1px var(--Secondary2) solid;
	padding-top: 10px ;
	padding-left: 50px;
	box-shadow: var(--Border1) 0px 0px 0px 2px inset ;
	border: 1px;
	/*color: var(--Primary);*/
}





/* MenuTab buttons/ Navigation buttons in top bar*/
.MenuTab 
{
	float: left;
	display: block;
	color: var(--Text1);
	text-align: center;
	padding: 10px 45px;
	margin-bottom: 2px;
	text-decoration: none;
	/*font-weight: bolder;*/
	font-size: 20px;
	background-color: var(--Secondary2);

	background: linear-gradient(to bottom, var(--Primary) 50%, var(--Secondary) 50%) top;
	background-size: 100% 200%;

	/*box-shadow: var(--Border1) -2px -2px 0px 2px inset ;*/

	transition: .3s cubic-bezier(.77,.12,.16,.95);

	/*margin: 0px;
	transition: transform .3s cubic-bezier(.77,.12,.16,.95);*/
	font-weight: Bold;
}

.MenuTab-noHoverAfterClick:hover
{
	float: left;
	display: block;
	color: var(--Text1);
	text-align: center;
	padding: 10px 45px;
	margin-bottom: 2px;
	text-decoration: none;
	/*font-weight: bolder;*/
	font-size: 20px;
	background-color: var(--Secondary2);

	background: linear-gradient(to bottom, var(--Primary) 50%, var(--Secondary) 50%) top;
	background-size: 100% 200%;

	/*box-shadow: var(--Border1) -2px -2px 0px 2px inset ;*/

	transition: .3s cubic-bezier(.77,.12,.16,.95);

	/*margin: 0px;
	transition: transform .3s cubic-bezier(.77,.12,.16,.95);*/
	font-weight: Bold;
}


p
{
	margin: 0px;
}



.MenuTab:hover
{
	background-position: bottom;
	color: var(--Text1);
	/*padding: 10px 46px;*/
	transition: 0.3s cubic-bezier(.77,.12,.16,.95);

	box-shadow: var(--Border1) 0px 0px 0px 2px inset ; /*, #f9f9f9 0px 0px 4px 6px inset;*/
	/*text-shadow: 0px 0px 5px #ffffff  /*, 15px 15px 1px #373737, 30px 30px 2px #707070;*/
}

.MenuTab:hover p
{
	color: var(--TextInverted);
	transition: 0.3s cubic-bezier(.77,.12,.16,.95);
}

.button.clicked
{
	animation: flash 0.1s ;
	/*pointer-events: none;*/
}
@keyframes pop 
{
    0% {	padding: 10px 46px; }
    20% { padding: 8px 56px; transform: translate(-6px, 2px);}
    100% { padding: 10px 46px; }
}

@keyframes flash 
{
	0% { background: black;}
	100% {  background: linear-gradient(to bottom, var(--FlashColor) 50%, var(--FlashColor) 50%) top}
}

.ElementWithUnderlineAnim 
{
	display: inline-block;
	position: relative;
}

.ElementWithUnderlineAnim::after 
{

  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--Border1);
  /*box-shadow: #ffffff 0px -3px 20px 2px ;*/
  /* set start and end position of udnerline*/
  transform-origin: top;
  transition: transform 0.25s cubic-bezier(.77,.12,.16,.95);

}

.ElementWithUnderlineAnim:hover::after 
{
	transform: scaleX(1);

	/* set start and end position of udnerline*/
	transform-origin: bottom;
}




body
{
	background-color: var(--Secondary2);
	padding: 0px;
	margin: 0px;
}

#main
{
	display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

#main.content
{
	flex: 1;
}






/*Fonts*/

.tekoFont {
  font-family: "Teko", sans-serif;
  /*font-optical-sizing: auto;*/
  /*font-weight: 200;*/
  /*font-style: normal;*/
}

.tiro-tamil-regular {
  font-family: "Tiro Tamil", serif;
  font-weight: 400;
  font-style: normal;
}

.tiro-tamil-regular-italic {
  font-family: "Tiro Tamil", serif;
  font-weight: 400;
  font-style: italic;
}

.tiro-devanagari-sanskrit-regular {
  font-family: "Tiro Devanagari Sanskrit", serif;
  font-weight: 400;
  font-style: normal;
}

.tiro-devanagari-sanskrit-regular-italic {
  font-family: "Tiro Devanagari Sanskrit", serif;
  font-weight: 400;
  font-style: italic;
}

.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}