*
{
	box-sizing: border-box;
	font-family: 'Optima';
}

:root
{

	--NeonOrange: #ff6d1f;
	--Orange: #fc7449;
	--Gray: #242424;
	--Beige: #ffffff;
	--LightBeige: #ffffff;

	--MudBrown: #896c67;
	--PaleOrange: #ec8e75;
	--ScotchBiege: #eac9aa;
	--BananaYellow: #f6dda7;
	--HamamamGreen: #82a18f;



	
	--BaseLight1: #e6e0dc;
	--Biege1: #c1ad9b;
	--Biege2: #c6beb4;
	--Gray1: #bebab6;
	--Gray2: #b8b8b8;
	--Black: #000000;
	--White: #ffffff;



	--Primary: var(--White);
	--Secondary: var(--Black);
	--Secondary2:  var(--White);

	--Accent:	var(--Black);

	--Border1: var(--Black);

	--Text1: var(--Black);
	--TextInverted: var(--White);
}






.TopBar
{
	overflow:hidden;
	background-color: var(--Primary);
	font-family: 'Helvetica Neue';
	border-bottom: 1px var(--Secondary2) solid;
	padding-top: 10px ;
	padding-left: 50px;
	box-shadow: var(--Border1) 0px 0px 0px 2px inset ;
	border: 1px;
	/*color: var(--Primary);*/
}


/* MenuTab buttons/ Navigation buttons in top bar*/
.MenuTab 
{
	float: left;
	display: block;
	color: var(--Text1);
	text-align: center;
	padding: 10px 45px;
	text-decoration: none;
	/*font-weight: bolder;*/
	font-size: 20px;
	background-color: var(--Secondary2);

	background: linear-gradient(to bottom, var(--Primary) 50%, var(--Secondary) 50%) top;
	background-size: 100% 200%;

	box-shadow: var(--Border1) -2px -2px 0px 2px inset ;

	transition: .3s cubic-bezier(.77,.12,.16,.95);
}



.MenuTab p
{
	margin: 0px;
	transition: transform .3s cubic-bezier(.77,.12,.16,.95);
	font-weight: Bold;
	

}



.TopBar .MenuTab:hover
{
	background-position: bottom;
	color: var(--Text1);
	padding: 10px 46px;
	transition: 0.3s cubic-bezier(.77,.12,.16,.95);

	box-shadow: var(--Border1) 0px 0px 0px 2px inset ; /*, #f9f9f9 0px 0px 4px 6px inset;*/
	/*text-shadow: 0px 0px 5px #ffffff  /*, 15px 15px 1px #373737, 30px 30px 2px #707070;*/
	

}

.TopBar .MenuTab:hover p
{
	transform: translate(3px, 3px);
	color: var(--TextInverted);
	transition: 0.3s cubic-bezier(.77,.12,.16,.95);

}

.button.clicked
{
	animation: pop 0.5s cubic-bezier(.77,.12,.16,.95);
}
@keyframes pop {
            0% 
				{	padding: 10px 46px; 
					
				}
            20% { padding: 8px 56px; transform: translate(-6px, 2px);}
            100% { padding: 10px 46px; }
}

.ElementWithUnderlineAnim 
{
	display: inline-block;
	position: relative;
}

.ElementWithUnderlineAnim::after 
{

  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--Border1);
  /*box-shadow: #ffffff 0px -3px 20px 2px ;*/
  /* set start and end position of udnerline*/
  transform-origin: top;
  transition: transform 0.25s cubic-bezier(.77,.12,.16,.95);

}

.ElementWithUnderlineAnim:hover::after 
{
	transform: scaleX(1);

	/* set start and end position of udnerline*/
	transform-origin: bottom;
}




body
{
	background-color: var(--Secondary2);
	padding: 0px;
	margin: 0px;
}

#main
{
	display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
	background-image: url('Patima.jpeg');
	background-size: 1440px;
}

#main.content
{
	flex: 1;
}








.tekoFont {
  font-family: "Teko", sans-serif;
  /*font-optical-sizing: auto;*/
  /*font-weight: 200;*/
  /*font-style: normal;*/
}