*
{
	box-sizing: border-box;
}

body{
	background-color: #1c1c1c;
	padding: 0px;
	margin: 0px;
}

.NavBar
{
	overflow:hidden;
	background-color: white;
	font-family: 'Helvetica Neue';
}

.NavBar a
{
	float: left;
	display: block;
	color: rgb(24, 6, 6);
	text-align: center;
	padding: 15px 20px;
	text-decoration: none;
	font-weight: bold;
	background-color: white;

	background: linear-gradient(to bottom, white 50%, #ff6400 50%) top;
	background-size: 100% 200%;

	transition: .3s cubic-bezier(.77,.12,.16,.95);

}

.NavBar p
{
	margin: 0px;
	transition: transform .3s cubic-bezier(.77,.12,.16,.95);
}

.NavBar a:hover
{
	background-position: bottom;
	color: rgb(255, 255, 255);
}

.NavBar a:hover p
{
	transform: translateY(-7px);
}


.HoverUnderlineAnim 
{
  display: inline-block;
  position: relative;
}

.HoverUnderlineAnim::after 
{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  /* set start and end position of udnerline*/
  transform-origin: top;
  transition: transform 0.25s cubic-bezier(.77,.12,.16,.95);
}

.HoverUnderlineAnim:hover::after 
{
  transform: scaleX(1);

  /* set start and end position of udnerline*/
  transform-origin: bottom;
}



